saved_model_**/
*.pt
__pycache__/
.ipynb_checkpoints/
.GamingRoot
apex/
pretrain_data_62580.tar.gz
pretrain_data_200000.tar.gz
pretrained_vocab_5000_masked_edge_18w_trx.tar.gz
my_archive.tar.gz
result/
data/
tokenizer_larger/corpus.txt
*.log
log.txt
logs/
graph/
saved_model_gpt_hidden_dim_64_8